.header.main, .footer, .header.body {
  background-color: #1f2937;
  color: white;
}

p {
  font: 15px Arial, sans-serif;
}

.header.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
  }

  .header.body button {
    background-color: #3b82f6;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    width: 100px;
    height: 30px;
  }
  
  .header.main ul {
    display: flex;
    gap: 16px;
    list-style: none;
  }

  .header.main.p {
    font-weight: 200px;
  }

  .header.body {
    display: flex;
    padding: 48px 72px;
    gap:20px;
  }

  .blocka, .blockb {
    flex: 1;
  }


  .header .title {
    font-weight: 600;
    font-size: 50px;
  }

  .blocka {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .blocka p, .blocka button {
    margin: 0;
  }

  .blocka button {
    align-self: flex-start;
  }

  .blockb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 38px 64px;
  }

  .carousel .texthead {
    font-size: x-large;
    font-weight: 600;
  }

  .items {
    display: flex;
    gap: 20px;
  }

  .items .img {
    border: 2px solid #3b82f6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }

  .items .text {
    width: 100px;
    text-align: center;
  }

  .quotebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 38px 300px;
  }


  .quote {
    font-style : italic;
    font-size: x-large;
    margin: 0;
  }

  .quotebox .author {
     align-self: flex-end;
     font-weight: 1000;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 100px 250px;
  }

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b82f6;
    color: white;
    border-radius: 8px;
    padding:10px 50px;
  }

  .para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    height: 100px;
  }

  .box .title {
    font-weight: 900;
  }

  .box button {
    background-color: #3b82f6;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 30px;
  }

  .para p {
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
  }